div {
    /*width: 55%;
    height: 850pt;
    border: 1px solid black;
    рамка внутри которой картинка*/
    /*background-image: url(img/smile.jpg);
   фоновая картинка*/
    /*background-repeat: no-repeat;
    чтобы картинка не повторялась внутри рамки*/
    /*background-repeat: repeat-x;
    чтобы картинка повторялась по горизонтали*/
    /*background-repeat: repeat-y;
    чтобы картинка повторялась по вертикали*/
    /*background-repeat: no-repeat;
    background-position: right bottom;
    картинка в нижнем правом углу*/
    /*background-position: left top;
	 картинка в верхнем левом углу и т.п.*/
    /*background-position: 50% 70pt;
    можно двигать картинку, задавая ее нахождение по осям х и у*/
    /*body {
        background-image: url("image.png");
		  background-attachment: scroll;
		  когда фон прокручивается вместе с текстом*/
    /*body {
        background-image: url("image.png");
		  background-attachment: fixed;
		  когда фон на месте, а текст прокручивается*/
    border: 1px solid black;
    width: 55%;
    height: 850pt;
    background: green url(smile.jpg) repeat-x left top;
    /*общее свойство, где в любой последовательности можно писать команды для фона*/
}