body,
ul,
p {
    margin: 0;
    padding: 0;
}

header {
    background: url(pictures/header-wrapper-bg.png) left top;
    height: 187px;
    display: flex;
    align-items: center;
}

#lable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 221px;
    height: 110px;
    background: url(pictures/logo-bg.png) no-repeat left top;
    line-height: 110px;
    text-align: center;
    text-decoration: none;
    font-family: 'Cookie', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {}

a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-size: 23px;
}