#ramka {
    border: 1px solid black;
    width: 700px;
    margin-left: 25%;
    margin-top: 50px;
}

#ssilki li {
    display: inline-block;
    background-color: rgb(88, 88, 82);
    padding-right: 10px;
    margin-right: 2px;
}

#ssilki ul {
    border: 0px solid rgb(88, 88, 82);
    background-color: rgb(88, 88, 82);
    width: 99.8%;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 3px;
}

#ssilki a {
    border: 0px solid none;
    display: block;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

#ssilki a:link,
#ssilki a:visited {
    color: white;
    text-decoration: none;
    font: bold 10pt/2.5 Arial;
    background-color: rgb(88, 88, 82);
}

#ssilki a:hover,
#ssilki a.active {
    color: rgb(88, 88, 82);
    background-color: white;
}

h1 {
    text-align: center;
}

p a {
    font-weight: bold;
    color: black;
}

p a:hover {
    text-decoration: none;
}

p {
    margin: 5px;
    font-size: 13pt;
    text-align: justify;
}

#niz p {
    padding-top: 20px;
    text-align: center;
    font: 10pt arial;
}